<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockCreate</title>

<div class="card">
    <div class="card-header">
      <h4 class="card-title">Stock Create</h4>
    </div>

    <div class="card-body">
        <form action="/action_page.php" method="post" target="_blank">
            <label for="product-id">Product Id</label>
            <input type="text" id="product-id" name="product-id"><br>
            <label for="product-name">Product Name</label>
            <input type="text" id="product-name" name="product-name"><br>
            <label for="current-stock-quantity">Current Stock Quantity</label>
            <input type="number" id="current-stock-quantity" name="current-stock-quantity"><br>
            <label for="unit-price">Unit Price</label>
            <input type="number" id="unit-price" name="unit-price"><br>
            <label for="total-price">Total Price</label>
            <input type="number" id="total-price" name="total-price"><br>
            <label for="type">Type</label>    
            <select name="type" id="type">
              <option value="stock-in">Stock in</option>
              <option value="stock-out">Stock out</option>
            </select>
            <br>
            <input type="submit" value="Create">
          </form>
    </div>  
</div>    