<div class="card">
    <div class="card-header">
      <h4 class="card-title"> Inventory Report Customize</h4>
    </div>

    <div class="action">
        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">+</button>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr><th>
              Product Id
            </th>
            <th>
              Product Name
            </th>
            <th>
              Total Price
            </th>
            <th>
              Quantity
            </th>
            <th>
             Unit Price
            </th>
            <th class="text-right">
              Type
            </th>
          </tr></thead>
          <tbody>
            <tr>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td class="text-right">
                
              </td>
              <td>                
                <div class="action">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Delete</button>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td class="text-right">
                
              </td>
              <td>                
                <div class="action">
                    <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">Delete</button>
                </div>
            </tr>
          </tbody>
        </table>
      </div>
    </div>