<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockView</title>
</head>

<style>
  th, td {
  text-align: left;
  padding: 8px;
}

thead{
  background-color: #3a9ed8c9;
}

tr:nth-child(even){background-color: #f2f2f2}

</style>

<body>

    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Product View</h4>
      </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr><th>
                  Product Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Price
                </th>
              </tr></thead>
              <tbody>
                <tr>
                  <td>
                    
                  </td>

                  <td>
  
                  </td>

                  <td>
                    
                  </td>
                  
                </tr>

                <tr>
                  <td>
                    
                  </td>

                  <td>
  
                  </td>

                  <td>
                    
                  </td>
                  
                </tr></tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

</body>                