<div class="card">
    <div class="card-header">
      <h4 class="card-title">Stock Edit</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class=" text-primary">
            <tr><th>
              Product Id
            </th>
            <th>
              Product Id
            </th>
            <th>
              Current Stock Quantity
            </th>
            <th>
             Unit Price
            </th>
            <th class="text-right">
                Total Price
            </th>
          </tr></thead>
          <tbody>
            <tr>
              <td>
                
              </td>
              <td>

              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td class="text-right">
                
              </td>
            </tr>
            <tr>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td>
                
              </td>
              <td class="text-right">
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>